/.DS_Store
/.#setupbox.txt
/dissertation_clean.bib
/estimation/.#article4.r
/estimation/.Rhistory
/estimation/article4_analysis.r~
/estimation/article4_data.r~
/estimation/article_functions.r~
/estimation/spinpub.rmd
/results.tex
